<div class="content-module">
                                <div class="content-container">


<link rel="stylesheet" href="https://ccs-training.polarislibrary.com/polaris/themes/shared/fonts/font_awesome/css/font-awesome.min.css">

<script language="javascript">

	function RemoveFromTitleList(strPos)
	{
		strURL = "http://ccs-training.polarislibrary.com/polaris/Search/titlelist.aspx?delete=" + strPos + "&src=";
        strURL += "https%3a%2f%2fccs-training.polarislibrary.com%2fpolaris%2fpatronaccount%2fitemsout.aspx%3fctx%3d1.1033.0.0.1";
		window.location = strURL;
	}

</script>





    <div class="c-accordion__panel c-accordion__panel--my-account">
        <div class="c-accordion__heading" role="tab">
            <h5 class="c-accordion__title">
                <a class="c-accordian__title-link   " role="button" data-toggle="collapse" href="#sc-patronaccount" aria-expanded="true" aria-controls="sc-patronaccount">
                    My Account
                </a>
            </h5>
        </div>
        <div id="sc-patronaccount" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="sc-patronaccount">
            <div class="c-accordion__body c-accordion__account">
                <div class="c-accordion__account-name"><a class="c-accordion__link" href="https://ccs-training.polarislibrary.com/polaris//patronaccount">Test, Northbrook </a></div>
                <div class="c-accordion__account-alert"><a class="c-accordion__link" href="https://ccs-training.polarislibrary.com/polaris/PatronAccount/itemsout.aspx">4&nbsp;items overdue</a></div><div class="c-accordion__account-option"><a class="c-accordion__link" href="./default.aspx">My Record</a></div><div class="c-accordion__account-option c-accordion__account-option-highlighted"><a class="c-accordion__link" href="./itemsout.aspx">Items Out (4)</a></div><div class="c-accordion__account-option"><a class="c-accordion__link" href="./requests.aspx">Requests</a></div><div class="c-accordion__account-option"><a class="c-accordion__link" href="./finesfees.aspx">Fines &amp; Fees</a></div><div class="c-accordion__account-option"><a class="c-accordion__link" href="./searchagent.aspx">Saved Searches</a></div>

                <div class="c-accordion__account-logoff"><a href="https://ccs-training.polarislibrary.com/polaris/logon.aspx?logoff=1&amp;src=default.aspx">Log Out</a></div>
            </div>
        </div>
    </div>



<div id="dashTitleList">


<div class="c-accordion__panel">
    <div class="c-accordion__heading" role="tab">
        <h5 class="c-accordion__title">
            <a class="c-accordian__title-link " role="button" data-toggle="collapse" href="#sc-mylists" aria-expanded="true" aria-controls="sc-mylists">
                My Lists
            </a>
        </h5>
    </div>
    <div id="sc-mylists" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="sc-mylists">
        <div class="c-accordion__body">
            <div class="c-accordion-lvl2" role="tablist" aria-multiselectable="true">

                    <div class="c-accordion-lvl2__panel">
                        <div class="c-accordion-lvl2__heading" role="tab">
                            <h6 class="c-accordion-lvl2__title">
                                <a aria-controls="ml_savedlists" aria-expanded="true" class="c-accordion-lvl2__title-link" data-toggle="collapse" role="button" href="#ml_savedlists">
                                    Saved Title Lists
                                </a>
                            </h6>
                        </div>
                        <div class="panel-collapse collapse in" id="ml_savedlists" role="tabpanel">
                            <div class="c-accordion-lvl2__body">

                                        <ul class="c-accordion__list c-accordion__list--show-bullets">

                                        </ul>

                                <div class="c-accordion__action">
                                    <a class="c-accordion__link" href="https://ccs-training.polarislibrary.com/polaris/Search/titlelistnew.aspx">Create new saved list...
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>


            </div>
        </div>
    </div>
</div>


</div>



                                </div>
                            </div>
