
<div class="c-accordion__panel"> <!-- dash-body dash-body-no-header" -->
  <div class="c-accordion__save-search-heading" style="text-align: center; background-color:white;">
    <a href="https://ccs-training.polarislibrary.com/polaris/patronaccount/searchagentupdate.aspx?ctx=1.1033.0.0.1&amp;mode=new&amp;src=http%253a%252f%252fccs-training.polarislibrary.com%252fpolaris%252fsearch%252fsearchresults.aspx%253fctx%253d1.1033.0.0.1%2526type%253dDefault%2526term%253dlittle%252bdorrit%2526by%253dKW%2526sort%253dRELEVANCE%2526limit%253dTOM%25253d*%2526query%253d%2526page%253d0%2526searchid%253d1" class="btn btn-default c-accordion__save-search-link" role="button"> <!-- was btn-info -->
      Save Search
    </a>
  </div>
</div>

<div id="dashTitleList"></div><div id="dashNarrowAndRelatedSearch">
  <div id="dashNarrowSearch">
    <div class="c-accordion__panel">

      <div class="c-accordion__heading" role="tab">
        <h5 class="c-accordion__title">
          <a class="c-accordian__title-link" role="button" data-toggle="collapse" href="#narrow-search" aria-expanded="true" aria-controls="narrow-search">
            Narrow your search
          </a>
        </h5>
      </div>

      <div id="narrow-search" class="panel-collapse dash-head dash-head-open collapse in " role="tabpanel" aria-labelledby="narrow-search">
        <div id="bodyNarrowSearch" class="c-accordion__body ">
          <div class="c-accordion-lvl2" role="tablist" aria-multiselectable="true">

          <div class="c-accordion-lvl2__panel">
            <!-- GetTotalCountForFacetGroup -->
          </div> <!-- c-accordion-lvl2__panel -->

          <div class="c-accordion-lvl2__panel">
            <!-- GetTotalCountForFacetGroup -->
          </div> <!-- c-accordion-lvl2__panel -->

          <div class="c-accordion-lvl2__panel">

            <div class="c-accordion-lvl2__heading" role="tab">
              <h6 class="c-accordion-lvl2__title">
                <a class="c-accordion-lvl2__title-link c-accordion-lvl2__subheading--unfiltered " role="button" aria-expanded="true" aria-controls="ns-16" data-toggle="collapse" onclick="javascript:InvokeNSD('collapse', 16)" href="#ns-16">
                  Availability
                </a>
              </h6>
            </div>  <!-- c-accordion-lvl2__heading -->
            <!-- IsDrillDown -->

            <div class="panel-collapse collapse in" role="tabpanel" id="ns-16" aria-labelledby="ns-16" aria-expanded="true" style="">
              <div class="c-accordion-lvl2__body c-accordion-lvl2__body-narrowsearch">
                <ul class="c-accordion__list">                  <li class="c-accordion__item  selected">
                    <div class="c-accordion__item-narrowsearch">
                      <label class="c-accordion__label-narrowsearch" for="facet_13_0" title="Add">
                        <input class="c-accordion__checkbox" type="checkbox" id="facet_13_0" onclick="javascript:ChangeFilter('add', 13, 0)">
                        Available Now
                      </label><span class="c-accordion__span-count">&nbsp;(26)</span>
                    </div>
                  </li>
                </ul>
              </div> <!-- c-accordion-lvl2__body -->
            </div> <!-- panel-collapse -->
            <!-- !IsDrillDown -->
            <!-- IsExpanded -->
            <!-- GetTotalCountForFacetGroup -->
          </div> <!-- c-accordion-lvl2__panel -->

          <div class="c-accordion-lvl2__panel">

            <div class="c-accordion-lvl2__heading" role="tab">
              <h6 class="c-accordion-lvl2__title">
                <a class="c-accordion-lvl2__title-link c-accordion-lvl2__subheading--unfiltered " role="button" aria-expanded="true" aria-controls="ns-1" data-toggle="collapse" onclick="javascript:InvokeNSD('collapse', 1)" href="#ns-1">
                  Type of Material
                </a>
              </h6>
            </div>  <!-- c-accordion-lvl2__heading -->
            <!-- IsDrillDown -->

            <div class="panel-collapse collapse in" role="tabpanel" id="ns-1" aria-labelledby="ns-1" aria-expanded="true" style="">
              <div class="c-accordion-lvl2__body c-accordion-lvl2__body-narrowsearch">
                <ul class="c-accordion__list">
                  <li class="c-accordion__item  selected">
                    <div class="c-accordion__item-narrowsearch">
                      <label class="c-accordion__label-narrowsearch" for="facet_1_0" title="Add">
                        <input class="c-accordion__checkbox" type="checkbox" id="facet_1_0" onclick="javascript:ChangeFilter('add', 1, 0)">
                        Book
                      </label><span class="c-accordion__span-count">&nbsp;(23)</span>
                    </div>
                  </li>
                  <li class="c-accordion__item  selected">
                    <div class="c-accordion__item-narrowsearch">
                      <label class="c-accordion__label-narrowsearch" for="facet_1_1" title="Add">
                        <input class="c-accordion__checkbox" type="checkbox" id="facet_1_1" onclick="javascript:ChangeFilter('add', 1, 1)">
                        Audio Book on CD
                      </label><span class="c-accordion__span-count">&nbsp;(4)</span>
                    </div>
                  </li>
                  <li class="c-accordion__item  selected">
                    <div class="c-accordion__item-narrowsearch">
                      <label class="c-accordion__label-narrowsearch" for="facet_1_2" title="Add">
                        <input class="c-accordion__checkbox" type="checkbox" id="facet_1_2" onclick="javascript:ChangeFilter('add', 1, 2)">
                        Audio Books
                      </label><span class="c-accordion__span-count">&nbsp;(4)</span>
                    </div>
                  </li>
                  <li class="c-accordion__item  selected">
                    <div class="c-accordion__item-narrowsearch">
                      <label class="c-accordion__label-narrowsearch" for="facet_1_3" title="Add">
                        <input class="c-accordion__checkbox" type="checkbox" id="facet_1_3" onclick="javascript:ChangeFilter('add', 1, 3)">
                        Nonmusical Sound Recording
                      </label><span class="c-accordion__span-count">&nbsp;(4)</span>
                    </div>
                  </li>
                  <li class="c-accordion__item  selected">
                    <div class="c-accordion__item-narrowsearch">
                      <label class="c-accordion__label-narrowsearch" for="facet_1_4" title="Add">
                        <input class="c-accordion__checkbox" type="checkbox" id="facet_1_4" onclick="javascript:ChangeFilter('add', 1, 4)">
                        Sound Recording
                      </label><span class="c-accordion__span-count">&nbsp;(4)</span>
                    </div>
                  </li>
                </ul>
              </div> <!-- c-accordion-lvl2__body -->
            </div> <!-- panel-collapse -->
              <!-- !IsDrillDown -->
            <div class="c-accordion__link-more-less" style="text-align: right; padding-right: 4px; padding-bottom: 6px;">
              <a class="c-accordion__link-more-less" href="javascript:InvokeNSD('extend', 1)"><b>More&gt;&gt;</b></a>
            </div>
            <!-- IsExpanded -->
            <!-- GetTotalCountForFacetGroup -->
          </div> <!-- c-accordion-lvl2__panel -->

          <div class="c-accordion-lvl2__panel">

            <div class="c-accordion-lvl2__heading" role="tab">
              <h6 class="c-accordion-lvl2__title">
                <a class="c-accordion-lvl2__title-link c-accordion-lvl2__subheading--unfiltered " role="button" aria-expanded="true" aria-controls="ns-7" data-toggle="collapse" onclick="javascript:InvokeNSD('collapse', 7)" href="#ns-7">
                  Target Audience
                </a>
              </h6>
            </div>  <!-- c-accordion-lvl2__heading -->
            <!-- IsDrillDown -->

            <div class="panel-collapse collapse in" role="tabpanel" id="ns-7" aria-labelledby="ns-7" aria-expanded="true" style="">
              <div class="c-accordion-lvl2__body c-accordion-lvl2__body-narrowsearch">
                <ul class="c-accordion__list">          <li class="c-accordion__item  selected">
                    <div class="c-accordion__item-narrowsearch">
                      <label class="c-accordion__label-narrowsearch" for="facet_7_0" title="Add">
                        <input class="c-accordion__checkbox" type="checkbox" id="facet_7_0" onclick="javascript:ChangeFilter('add', 7, 0)">
                        Unknown or not specified
                      </label><span class="c-accordion__span-count">&nbsp;(28)</span>
                    </div>
                  </li>
                  <li class="c-accordion__item  selected">
                    <div class="c-accordion__item-narrowsearch">
                      <label class="c-accordion__label-narrowsearch" for="facet_7_1" title="Add">
                        <input class="c-accordion__checkbox" type="checkbox" id="facet_7_1" onclick="javascript:ChangeFilter('add', 7, 1)">
                        Adult
                      </label><span class="c-accordion__span-count">&nbsp;(1)</span>
                    </div>
                  </li>
                  <li class="c-accordion__item  selected">
                    <div class="c-accordion__item-narrowsearch">
                      <label class="c-accordion__label-narrowsearch" for="facet_7_2" title="Add">
                        <input class="c-accordion__checkbox" type="checkbox" id="facet_7_2" onclick="javascript:ChangeFilter('add', 7, 2)">
                        General
                      </label><span class="c-accordion__span-count">&nbsp;(1)</span>
                    </div>
                  </li>                </ul>
              </div> <!-- c-accordion-lvl2__body -->
            </div> <!-- panel-collapse -->
            <!-- !IsDrillDown -->
            <!-- IsExpanded -->
            <!-- GetTotalCountForFacetGroup -->
          </div> <!-- c-accordion-lvl2__panel -->

          <div class="c-accordion-lvl2__panel">

            <div class="c-accordion-lvl2__heading" role="tab">
              <h6 class="c-accordion-lvl2__title">
                <a class="c-accordion-lvl2__title-link c-accordion-lvl2__subheading--unfiltered " role="button" aria-expanded="true" aria-controls="ns-14" data-toggle="collapse" onclick="javascript:InvokeNSD('collapse', 14)" href="#ns-14">
                  Literary Form
                </a>
              </h6>
            </div>  <!-- c-accordion-lvl2__heading -->
            <!-- IsDrillDown -->

            <div class="panel-collapse collapse in" role="tabpanel" id="ns-14" aria-labelledby="ns-14" aria-expanded="true" style="">
              <div class="c-accordion-lvl2__body c-accordion-lvl2__body-narrowsearch">
                <ul class="c-accordion__list">          <li class="c-accordion__item  selected">
                    <div class="c-accordion__item-narrowsearch">
                      <label class="c-accordion__label-narrowsearch" for="facet_11_0" title="Add">
                        <input class="c-accordion__checkbox" type="checkbox" id="facet_11_0" onclick="javascript:ChangeFilter('add', 11, 0)">
                        Fiction
                      </label><span class="c-accordion__span-count">&nbsp;(11)</span>
                    </div>
                  </li>
                  <li class="c-accordion__item  selected">
                    <div class="c-accordion__item-narrowsearch">
                      <label class="c-accordion__label-narrowsearch" for="facet_11_1" title="Add">
                        <input class="c-accordion__checkbox" type="checkbox" id="facet_11_1" onclick="javascript:ChangeFilter('add', 11, 1)">
                        Non-fiction
                      </label><span class="c-accordion__span-count">&nbsp;(11)</span>
                    </div>
                  </li>
                  <li class="c-accordion__item  selected">
                    <div class="c-accordion__item-narrowsearch">
                      <label class="c-accordion__label-narrowsearch" for="facet_11_2" title="Add">
                        <input class="c-accordion__checkbox" type="checkbox" id="facet_11_2" onclick="javascript:ChangeFilter('add', 11, 2)">
                        Novels
                      </label><span class="c-accordion__span-count">&nbsp;(1)</span>
                    </div>
                  </li>                </ul>
              </div> <!-- c-accordion-lvl2__body -->
            </div> <!-- panel-collapse -->
            <!-- !IsDrillDown -->
            <!-- IsExpanded -->
            <!-- GetTotalCountForFacetGroup -->
          </div> <!-- c-accordion-lvl2__panel -->

  <div class="c-accordion-lvl2__panel">

    <div class="c-accordion-lvl2__heading" role="tab">
      <h6 class="c-accordion-lvl2__title">
        <a class="c-accordion-lvl2__title-link c-accordion-lvl2__subheading--unfiltered " role="button" aria-expanded="true" aria-controls="ns-2" data-toggle="collapse" onclick="javascript:InvokeNSD('collapse', 2)" href="#ns-2">
          Subjects
        </a>
      </h6>
    </div>  <!-- c-accordion-lvl2__heading -->

    <div class="panel-collapse collapse in" role="tabpanel" id="ns-2" aria-labelledby="ns-2" aria-expanded="true" style="">
      <div class="c-accordion-lvl2__body">
        <ul class="c-accordion__list drill-down">
          <li class="c-accordion__item c-accordion__item--not-selected" style="padding-left:5px">
            <a class="c-accordion__link c-accordion__link--not-selected" href="javascript:ChangeFilter('add', 2, 0)" title="Add">
              London (England)</a>
              <span class="c-accordion__span-count">&nbsp;(16)</span>
            </li>

            <li class="c-accordion__item c-accordion__item--not-selected" style="padding-left:5px">
              <a class="c-accordion__link c-accordion__link--not-selected" href="javascript:ChangeFilter('add', 2, 1)" title="Add">
                Children of prisoners</a>
                <span class="c-accordion__span-count">&nbsp;(15)</span>
              </li>

              <li class="c-accordion__item c-accordion__item--not-selected" style="padding-left:5px">
                <a class="c-accordion__link c-accordion__link--not-selected" href="javascript:ChangeFilter('add', 2, 2)" title="Add">
                  Debt, Imprisonment for</a>
                  <span class="c-accordion__span-count">&nbsp;(15)</span>
                </li>

                <li class="c-accordion__item c-accordion__item--not-selected" style="padding-left:5px">
                  <a class="c-accordion__link c-accordion__link--not-selected" href="javascript:ChangeFilter('add', 2, 3)" title="Add">
                    Marshalsea Prison (Southwark, London, England)</a>
                    <span class="c-accordion__span-count">&nbsp;(15)</span>
                  </li>

                  <li class="c-accordion__item c-accordion__item--not-selected" style="padding-left:5px">
                    <a class="c-accordion__link c-accordion__link--not-selected" href="javascript:ChangeFilter('add', 2, 4)" title="Add">
                      Romance fiction</a>
                      <span class="c-accordion__span-count">&nbsp;(14)</span>
                    </li>                  </ul>
                </div> <!-- c-accordion-lvl2__body -->
              </div> <!-- panel-collapse -->
              <!-- IsDrillDown -->
              <!-- !IsDrillDown -->

              <div class="c-accordion__link-more-less" style="text-align: right; padding-right: 4px; padding-bottom: 6px;">
                <a class="c-accordion__link-more-less" href="javascript:InvokeNSD('extend', 2)"><b>More&gt;&gt;</b></a>
              </div>
              <!-- IsExpanded -->
              <!-- GetTotalCountForFacetGroup -->
            </div> <!-- c-accordion-lvl2__panel -->

            <div class="c-accordion-lvl2__panel">

              <div class="c-accordion-lvl2__heading" role="tab">
                <h6 class="c-accordion-lvl2__title">
                  <a class="c-accordion-lvl2__title-link c-accordion-lvl2__subheading--unfiltered collapsed" role="button" aria-expanded="true" aria-controls="ns-8" data-toggle="collapse" onclick="javascript:InvokeNSD('expand', 8)" href="#ns-8">
                    Language
                  </a>
                </h6>
              </div>  <!-- c-accordion-lvl2__heading -->
              <!-- IsExpanded -->
              <!-- GetTotalCountForFacetGroup -->
            </div> <!-- c-accordion-lvl2__panel -->

            <div class="c-accordion-lvl2__panel">

              <div class="c-accordion-lvl2__heading" role="tab">
                <h6 class="c-accordion-lvl2__title">
                  <a class="c-accordion-lvl2__title-link c-accordion-lvl2__subheading--unfiltered collapsed" role="button" aria-expanded="true" aria-controls="ns-3" data-toggle="collapse" onclick="javascript:InvokeNSD('expand', 3)" href="#ns-3">
                    Authors
                  </a>
                </h6>
              </div>  <!-- c-accordion-lvl2__heading -->
              <!-- IsExpanded -->
              <!-- GetTotalCountForFacetGroup -->
            </div> <!-- c-accordion-lvl2__panel -->

            <div class="c-accordion-lvl2__panel">

              <div class="c-accordion-lvl2__heading" role="tab">
                <h6 class="c-accordion-lvl2__title">
                  <a class="c-accordion-lvl2__title-link c-accordion-lvl2__subheading--unfiltered collapsed" role="button" aria-expanded="true" aria-controls="ns-4" data-toggle="collapse" onclick="javascript:InvokeNSD('expand', 4)" href="#ns-4">
                    Series
                  </a>
                </h6>
              </div>  <!-- c-accordion-lvl2__heading -->
              <!-- IsExpanded -->
              <!-- GetTotalCountForFacetGroup -->
            </div> <!-- c-accordion-lvl2__panel -->

            <div class="c-accordion-lvl2__panel">

              <div class="c-accordion-lvl2__heading" role="tab">
                <h6 class="c-accordion-lvl2__title">
                  <a class="c-accordion-lvl2__title-link c-accordion-lvl2__subheading--unfiltered collapsed" role="button" aria-expanded="true" aria-controls="ns-5" data-toggle="collapse" onclick="javascript:InvokeNSD('expand', 5)" href="#ns-5">
                    Publication Date
                  </a>
                </h6>
              </div>  <!-- c-accordion-lvl2__heading -->
              <!-- IsExpanded -->
              <!-- GetTotalCountForFacetGroup -->
            </div> <!-- c-accordion-lvl2__panel -->

            <div class="c-accordion-lvl2__panel">

              <div class="c-accordion-lvl2__heading" role="tab">
                <h6 class="c-accordion-lvl2__title">
                  <a class="c-accordion-lvl2__title-link c-accordion-lvl2__subheading--unfiltered collapsed" role="button" aria-expanded="true" aria-controls="ns-12" data-toggle="collapse" onclick="javascript:InvokeNSD('expand', 12)" href="#ns-12">
                    Assigned Branch
                  </a>
                </h6>
              </div>  <!-- c-accordion-lvl2__heading -->
              <!-- IsExpanded -->
              <!-- GetTotalCountForFacetGroup -->
            </div> <!-- c-accordion-lvl2__panel -->

          </div>  <!-- c-accordion-lvl2 -->
        </div>  <!-- bodyNarrowSearch -->
      </div>  <!-- narrow-search  -->
    </div> <!-- c-accordion__panel   -->
  </div>
  <div id="dashRelatedSearch"></div>
</div>
