<meta charset="UTF-8">
<title>Northbrook Public Library</title>
<meta http-equiv="cleartype" content="on">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="HandheldFriendly" content="true">
<meta name="MobileOptimized" content="width">
<meta name="format-detection" content="telephone=no">
<meta name="msapplication-tap-highlight" content="no" />
<meta name="viewport" content="width=device-width,initial-scale=1.0" />
<meta name="ROBOTS" content="NOFOLLOW">

<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italics" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="http://ccs-training.polarislibrary.com/polaris/themes/shared/tabs/jquery.ui.all.css" />
<link type="text/css" rel="stylesheet" href="http://ccs-training.polarislibrary.com/polaris/themes/shared/fancybox/jquery.fancybox-1.3.4.css" media="screen" />
<link type="text/css" rel="stylesheet" href="http://ccs-training.polarislibrary.com/polaris/themes/shared/jquery-confirm.min.css">
<link type="text/css" rel="stylesheet" href="http://ccs-training.polarislibrary.com/polaris/themes/shared/bootstrap-select.min.css">
<!--<link type="text/css" rel="stylesheet" href="http://ccs-training.polarislibrary.com/polaris/themes/ocean/site.css"/>-->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style-NBK.css">
<link rel="shortcut icon" type="image/ico" href="http://ccs-training.polarislibrary.com/polaris//favicon.ico" />
<link rel="search" type="application/opensearchdescription+xml" title="Cooperative Computer Services" href="http://ccs-training.polarislibrary.com/ERMSDaemon/POLARIS/Public/OpenSearch/POLARIS.PAC/KW/OpenSearchDescription.xml?v=5.6.125.0" />
<script type="text/javascript" src="http://ccs-training.polarislibrary.com/polaris/scripts/modernizr.custom.js"></script>
<script type="text/javascript" src="http://ccs-training.polarislibrary.com/polaris/scripts/matchMedia.js"></script>
<script type="text/javascript" src="http://ccs-training.polarislibrary.com/polaris/scripts/respond.min.js"></script>
<script type="text/javascript" src="http://ccs-training.polarislibrary.com/polaris/scripts/jquery.js"></script>
<script type="text/javascript" src="http://ccs-training.polarislibrary.com/polaris/scripts/jquery-migrate.js"></script>
<script type="text/javascript" src="http://ccs-training.polarislibrary.com/polaris/scripts/ios-orientationchange-fix.js"></script>
<script type="text/javascript" src="http://ccs-training.polarislibrary.com/polaris/scripts/jquery.ui.core.js"></script>
<script type="text/javascript" src="http://ccs-training.polarislibrary.com/polaris/scripts/jquery.ui.widget.js"></script>
<script type="text/javascript" src="http://ccs-training.polarislibrary.com/polaris/scripts/jquery.ui.dialog.js"></script>
<script type="text/javascript" src="http://ccs-training.polarislibrary.com/polaris/scripts/jquery.ui.position.js"></script>
<script type="text/javascript" src="http://ccs-training.polarislibrary.com/polaris/scripts/jquery.ui.datepicker.js"></script>
<script type="text/javascript" src="http://ccs-training.polarislibrary.com/polaris/scripts/jquery.fancybox-1.3.4.js"></script>
<script type="text/javascript" src="http://ccs-training.polarislibrary.com/polaris/scripts/jquery-confirm.js"></script>


<script type="text/javascript" src="http://ccs-training.polarislibrary.com/polaris/scripts/powerpac.js?ver=5.6.125.0"></script>
<script type="text/javascript" src="http://ccs-training.polarislibrary.com/polaris/scripts/modalBasic.js?ver=5.6.125.0"></script>

<script type="text/javascript" src="/ERMSDaemon/POLARIS/Public/widget.js?v=5.6.125.0"></script>

<link rel="alternate" type="application/rss+xml" title='Polaris - New Books [RSS]' href='http://ccs-training.polarislibrary.com/polaris/rss/NewTitles.aspx?type=1'>
<link rel="alternate" type="application/rss+xml" title='Polaris - New Videos [RSS]' href='http://ccs-training.polarislibrary.com/polaris/rss/NewTitles.aspx?type=2'>
<link rel="alternate" type="application/rss+xml" title='Polaris - New Sound Recordings [RSS]' href='http://ccs-training.polarislibrary.com/polaris/rss/NewTitles.aspx?type=3'>
<link rel="alternate" type="application/rss+xml" title='Polaris - New Large Print [RSS]' href='http://ccs-training.polarislibrary.com/polaris/rss/NewTitles.aspx?type=4'>
