<!DOCTYPE html>
<!-- Polaris PowerPAC Version:  -->
<!--[if IEMobile 7 ]> <html class="no-js iem7> <![endif]-->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9> <![endif]-->
<!--[if IE 9]> <html class="no-js lt-ie10> <![endif]-->
<!--[if gt IE 8|(gt IEMobile 7)|!(IEMobile)]> <html class="no-js"> <![endif]-->
<head>
  {% include polaris-head.html %}
</head>
<body onscroll="ResetTimer();" onload="" onclick="ResetTimer();" class="{{ page.polaris_body_classes }}">

  <div class="polaris-site-container" id="top">

    <header class="site-header npl-site-header" role="banner">
       <div class="content-container site-header__content-container">
         <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="{{ site.baseurl }}/" class="npl-brand">
              {% include npl-logo.svg %}
              <span class="npl-sub-brand">Catalog</span>
            </a>
          </div>

         <nav class="npl-meta-nav">
           <ul class="npl-nav">
             <li class="npl-language-dropdown select-styled" id="header-dropdown-language">
               <select class="nav__select">
                 <option value="#" class="nav__option">Language</option>
                 <option value="http://ccs-training.polarislibrary.com/polaris/default.aspx?ctx=47.1033.0.0.1" class="nav__option">English</option>
                 <option value="http://ccs-training.polarislibrary.com/polaris/default.aspx?ctx=47.1042.0.0.1" class="nav__option">한국어</option>
                 <option value="http://ccs-training.polarislibrary.com/polaris/default.aspx?ctx=47.1045.0.0.1" class="nav__option">Polskie</option>
                 <option value="http://ccs-training.polarislibrary.com/polaris/default.aspx?ctx=47.1049.0.0.1" class="nav__option">Русский</option>
                 <option value="http://ccs-training.polarislibrary.com/polaris/default.aspx?ctx=47.1081.0.0.1" class="nav__option">हिन्दि</option>
                 <option value="http://ccs-training.polarislibrary.com/polaris/default.aspx?ctx=47.2052.0.0.1" class="nav__option">中文</option>
                 <option value="http://ccs-training.polarislibrary.com/polaris/default.aspx?ctx=47.3082.0.0.1" class="nav__option">Español</option>
                 <option value="http://ccs-training.polarislibrary.com/polaris/default.aspx?ctx=47.3084.0.0.1" class="nav__option">Français</option>
                 <option value="http://ccs-training.polarislibrary.com/polaris/default.aspx?ctx=47.12289.0.0.1" class="nav__option">العربية</option>
               </select>
             </li>
             <li><a href="">Website</a></li>
             <li><a href="">Catalog</a></li>
             <li><a href="">Account</a></li>
           </ul>
         </nav>

         <nav class="navbar npl-site-nav">
           <ul class="nav navbar-nav">
             <li><a href="#">Recommendations</a></li>
             <li><a href="#">eResources</a></li>
             <li><a href="#">Help</a></li>
           </ul>
         </nav>
      </div>
    </header>

    <main class="site-main" id="content">
        <div class="site-main__container">
            <article class="primary-content">
                <section class="primary-content__section">
                    <form id="formMain" method="post" runat="server" onsubmit="<%# GetOnSubmitHandler() %>" onclick="<%# GetOnClickHandler() %>">
                        {{ content }}
                    </form>
                </section>
            </article>
            <aside class="secondary-content">
                <section class="secondary-content__section">
                    <div class="content-module">
                        <div class="content-container">
                          {% if page.body_class == 'results' %}
                            {% include filters.html %}
                          {% endif %}

                          {% if page.body_class == 'record' %}
                            {% include record-actions.html %}
                          {% endif %}

                          {% if page.body_class == 'account' %}
                            {% include account-aside.html %}
                          {% endif %}
                        </div>
                    </div>
                </section>
            </aside>
        </div>
    </main>

    <!--- MAIN CONTENT - END -->

    <!--- FOOTER - START -->

    <footer class="site-footer npl-site-footer" role="contentinfo">
      <div class="content-container site-footer__content-container">
        <div class="npl-contact">
          <a href="#" class="npl-brand-no-logo">Northbrook Public Library</a>
          <p class="npl-address">1201 Cedar Lane  <br> Northbrook, Illinois 60062 <br> 847-272-6224</p>
          <a href="#" class="npl-emailaddress">feedback@northbrook.info</a>
        </div>
        <div class="polaris-site-footer">
          <img src="http://ccs-training.polarislibrary.com/polaris/themes/shared/polaris_logo_small.png" alt="Polaris" class="site-footer__logo"><br>
          Version: 5.6.125<br>
          Copyright © 2018<br>Innovative Interfaces, Inc.
        </div>
      </div>
    </footer>

    <!--- FOOTER - END -->
  </div><!--end of site container-->

    <div class="site-overlay"></div>


<!--<script type="text/javascript" src="http://ccs-training.polarislibrary.com/polaris/scripts/jquery.placeholder.min.js"></script>
<script type="text/javascript" src="http://ccs-training.polarislibrary.com/polaris/scripts/jquery.fastClick.js"></script>
<script type="text/javascript" src="http://ccs-training.polarislibrary.com/polaris/scripts/jquery.easing.min.js"></script>
<script type="text/javascript" src="http://ccs-training.polarislibrary.com/polaris/scripts/jquery.ba-throttle-debounce.min.js"></script>
<script type="text/javascript" src="http://ccs-training.polarislibrary.com/polaris/scripts/jquery.twbsPagination.min.js"></script>
<script type="text/javascript" src="http://ccs-training.polarislibrary.com/polaris/scripts/scotchPanels.min.js"></script>
<script type="text/javascript" src="http://ccs-training.polarislibrary.com/polaris/scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="http://ccs-training.polarislibrary.com/polaris/scripts/bootstrap-select.min.js"></script>
<script type="text/javascript" src="http://ccs-training.polarislibrary.com/polaris/scripts/adj-script.js?ver=5.6.125.0">"></script>-->





	</body>
</html>
