<!DOCTYPE html>
<!-- Polaris PowerPAC Version:  -->
<!--[if IEMobile 7 ]> <html class="no-js iem7> <![endif]-->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9> <![endif]-->
<!--[if IE 9]> <html class="no-js lt-ie10> <![endif]-->
<!--[if gt IE 8|(gt IEMobile 7)|!(IEMobile)]> <html class="no-js"> <![endif]-->
<head>
  {% include polaris-head.html %}
</head>
<body onscroll="ResetTimer();" onload="" onclick="ResetTimer();" class="{{ page.polaris_body_classes }}">

  <div class="site-container" id="top">

    <header class="site-header">
      <div class="content-container site-header__content-container">

        <div class="toggle-nav-panel--myaccount">
          <a class="nav-panel__welcome-link" href="https://ccs-training.polarislibrary.com/polaris/logon.aspx?header=1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>&nbsp;
          <a class="nav-panel__welcome-link" href="https://ccs-training.polarislibrary.com/polaris/logon.aspx?header=1">Log In</a>
        </div>

        <div class="nav-panel nav-panel--my-account scotch-panel-right" data-containerselector=".site-container" data-direction="right" data-clickselector=".toggle-nav-panel--my-account" style="top: 0px; right: -80%; width: 80%; height: 100%; position: absolute; z-index: 888888; overflow: hidden;">
          <header class="nav-panel__header">
            <div class="nav-panel__welcome">
              <a href="#">Website</a>
              <a href="#">Catalog</a>
              <a class="nav-panel__welcome-link" href="https://ccs-training.polarislibrary.com/polaris/logon.aspx?header=1">Log In</a>

            </div>
          </header>
          <span class="nav-panel__nav-container">
          </span>
        </div>
        <a href="#" class="toggle-nav-panel--main-menu" style="text-align: left"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span> Menu</a>
        <div class="nav-panel nav-panel--main-menu scotch-panel-left" data-containerselector=".site-container" data-direction="left" data-clickselector=".toggle-nav-panel--main-menu" style="top: 0px; left: -80%; width: 80%; height: 100%; position: absolute; z-index: 888888; overflow: hidden;">
          <header class="nav-panel__header">

            <nav class="nav-panel__top-nav top-nav top-nav--split-header navbar-collapse" role="navigation" aria-hidden="true">
              <ul class="nav__list-level-1 nav navbar-nav">


                <li class="nav__item-level-1 select-styled select-styled--no-arrow-pad dropdown" id="header-dropdown-language">
                  <select class="nav__select">
                    <option value="#" class="nav__option">Language</option>

                    <option value="http://ccs-training.polarislibrary.com/polaris/default.aspx?ctx=47.1033.0.0.1" class="nav__option">English</option>

                    <option value="http://ccs-training.polarislibrary.com/polaris/default.aspx?ctx=47.1042.0.0.1" class="nav__option">한국어</option>

                    <option value="http://ccs-training.polarislibrary.com/polaris/default.aspx?ctx=47.1045.0.0.1" class="nav__option">Polskie</option>

                    <option value="http://ccs-training.polarislibrary.com/polaris/default.aspx?ctx=47.1049.0.0.1" class="nav__option">Русский</option>

                    <option value="http://ccs-training.polarislibrary.com/polaris/default.aspx?ctx=47.1081.0.0.1" class="nav__option">हिन्दि</option>

                    <option value="http://ccs-training.polarislibrary.com/polaris/default.aspx?ctx=47.2052.0.0.1" class="nav__option">中文</option>

                    <option value="http://ccs-training.polarislibrary.com/polaris/default.aspx?ctx=47.3082.0.0.1" class="nav__option">Español</option>

                    <option value="http://ccs-training.polarislibrary.com/polaris/default.aspx?ctx=47.3084.0.0.1" class="nav__option">Français</option>

                    <option value="http://ccs-training.polarislibrary.com/polaris/default.aspx?ctx=47.12289.0.0.1" class="nav__option">العربية</option>

                  </select>
                </li>


                <li class="nav__item-level-1 nav__large-print">
                  <a class="nav__large-print-link" href="http://ccs-training.polarislibrary.com/polaris/default.aspx?ctx=47.1033.0.0.1&amp;lp=1">
                    Large Text
                  </a>
                </li>

              </ul>
            </nav>
          </header>
          <nav class="nav-panel__nav expandable-block-nav">
            <ul class="nav__list-level-1 nav navbar-nav">

              <li class="nav__item-level-1"><a href="#" class="nav__link-level-1">Recommendations</a></li>
              <li class="nav__item-level-1"><a href="#" class="nav__link-level-1">eResources</a></li>
              <li class="nav__item-level-1"><a href="#" class="nav__link-level-1">Help</a></li>


              <li class="nav__item-level-1 nav__item-level-1--more dropdown" style="display: none;">
                <a href="#" class="nav__link-level-1 dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span></a>
                <ul class="nav__list-level-2 dropdown-menu">
                </ul>
              </li>
            </ul>
          </nav>
        </div>
        <a href="{{ site.baseurl }}/" class="npl-brand">
          {% include npl-logo.svg %}
          <span class="npl-sub-brand">Catalog</span>
        </a>
      </div>
    </header>

    <main class="site-main" id="content">
        <div class="site-main__container">
            <article class="primary-content">
                <section class="primary-content__section">
                    <form id="formMain" method="post" runat="server" onsubmit="<%# GetOnSubmitHandler() %>" onclick="<%# GetOnClickHandler() %>">
                        {{ content }}
                    </form>
                </section>
            </article>
            <aside class="secondary-content">
                <section class="secondary-content__section">
                    <div class="content-module">
                        <div class="content-container">
                          {% if page.body_class == 'results' %}
                            {% include filters.html %}
                          {% endif %}

                          {% if page.body_class == 'record' %}
                            {% include record-actions.html %}
                          {% endif %}

                          {% if page.body_class == 'account' %}
                            {% include account-aside.html %}
                          {% endif %}
                        </div>
                    </div>
                </section>
            </aside>
        </div>
    </main>

    <!--- MAIN CONTENT - END -->

    <!--- FOOTER - START -->

    <footer class="site-footer npl-site-footer" role="contentinfo">
      <div class="content-container site-footer__content-container">
        <div class="npl-contact">
          <a href="#" class="npl-brand-no-logo">Northbrook Public Library</a>
          <p class="npl-address">1201 Cedar Lane  <br> Northbrook, Illinois 60062 <br> 847-272-6224</p>
          <a href="#" class="npl-emailaddress">feedback@northbrook.info</a>
        </div>
        <div class="polaris-site-footer">
          <img src="http://ccs-training.polarislibrary.com/polaris/themes/shared/polaris_logo_small.png" alt="Polaris" class="site-footer__logo"><br>
          Version: 5.6.125<br>
          Copyright © 2018<br>Innovative Interfaces, Inc.
        </div>
      </div>
    </footer>

    <!--- FOOTER - END -->
  </div><!--end of site container-->

    <div class="site-overlay"></div>


<!--<script type="text/javascript" src="http://ccs-training.polarislibrary.com/polaris/scripts/jquery.placeholder.min.js"></script>
<script type="text/javascript" src="http://ccs-training.polarislibrary.com/polaris/scripts/jquery.fastClick.js"></script>
<script type="text/javascript" src="http://ccs-training.polarislibrary.com/polaris/scripts/jquery.easing.min.js"></script>
<script type="text/javascript" src="http://ccs-training.polarislibrary.com/polaris/scripts/jquery.ba-throttle-debounce.min.js"></script>
<script type="text/javascript" src="http://ccs-training.polarislibrary.com/polaris/scripts/jquery.twbsPagination.min.js"></script>
<script type="text/javascript" src="http://ccs-training.polarislibrary.com/polaris/scripts/scotchPanels.min.js"></script>
<script type="text/javascript" src="http://ccs-training.polarislibrary.com/polaris/scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="http://ccs-training.polarislibrary.com/polaris/scripts/bootstrap-select.min.js"></script>
<script type="text/javascript" src="http://ccs-training.polarislibrary.com/polaris/scripts/adj-script.js?ver=5.6.125.0">"></script>-->





	</body>
</html>
