<!DOCTYPE html>
<!-- Polaris PowerPAC Version:  -->
<!--[if IEMobile 7 ]> <html class="no-js iem7> <![endif]-->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9> <![endif]-->
<!--[if IE 9]> <html class="no-js lt-ie10> <![endif]-->
<!--[if gt IE 8|(gt IEMobile 7)|!(IEMobile)]> <html class="no-js"> <![endif]-->
<head>
  {% include polaris-head.html %}
</head>
<body onscroll="ResetTimer();" onload="" onclick="ResetTimer();" class="{{ page.polaris_body_classes }}">

  <div id="top"></div>

    <header class="site-header npl-site-header" role="banner">
       <div class="content-container site-header__content-container npl-container">
         <a href="{{ site.baseurl }}/" class="npl-brand">
           {% include npl-logo.svg %}
           <span class="npl-sub-brand">Catalog</span>
         </a>
         <nav class="npl-meta-nav">
           <ul class="npl-nav">
             <li><a href="">Website</a></li>
             <li><a href="">Catalog</a></li>
             <li><a href="">Account</a></li>
           </ul>
         </nav>



        <nav class="npl-site-nav" id="site-nav" role="navigation" aria-hidden="false">
          <ul class="npl-nav">
            <li><a href="">Recommended</a></li>
            <li><a href="">eResources</a></li>
            <li><a href="">Help</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <!--- Search section start -->
    <section class="npl-search">
      <div class="npl-container">
        <form class="npl-search-form">
          <div class="npl-control-group npl-inline-controls">
            <label class="npl-hidden">Enter your search term here</label>
            <input type="text" placeholder="Find books, movies, and more here...">
            <button class="npl-button npl-search-button">Search</button>
          </div>
        </form>
        <nav class="npl-search-tools">
          <ul class="npl-tools">
            <li><a href="">Language</a></li>
            <li><a href="">Library</a></li>
            <li><a href="default.aspx?ctx=47.1033.0.0.1&type=Advanced">Advanced</a></li>
          </ul>
        </nav>
      </div>
    </section>

    {% if page.body_class == "home" %}
      <section class="npl-quick-links">
        <div class="npl-container">
          <ul class="npl-quick-link-buttons">
            <li><a href="">New Fiction</a></li>
            <li><a href="">New Nonfiction</a></li>
            <li><a href="">New Movies</a></li>
            <li><a href="">New Audiobooks</a></li>
            <li><a href="">New Youth</a></li>
          </ul>
        </div>
      </section>
    {% endif %}


    <!--- MAIN CONTENT - START -->
    <main class="site-main npl-site-content" id="content">
      <div class="site-main__container npl-container">
        <section class="primary-content npl-primary-content">
          {{ content }}
        </section>
        <aside class="secondary-content npl-secondary-content">
          <div class="secondary-content__section npl-aside-content">
            {% if page.body_class == 'results' %}
              {% include filters.html %}
            {% endif %}

            {% if page.body_class == 'record' %}
              {% include record-actions.html %}
            {% endif %}

            {% if page.body_class == 'account' %}
              {% include account-aside.html %}
            {% endif %}

          </div>
        </aside>
      </div>
    </main>




    <!--- MAIN CONTENT - END -->

    <!--- FOOTER - START -->

    <footer class="site-footer npl-site-footer" role="contentinfo">
      <div class="content-container site-footer__content-container npl-container">
        <div class="npl-contact">
          <a href="#" class="npl-brand-no-logo">Northbrook Public Library</a>
          <p class="npl-address">1201 Cedar Lane  <br> Northbrook, Illinois 60062 <br> 847-272-6224</p>
          <a href="#" class="npl-emailaddress">feedback@northbrook.info</a>
        </div>
        <div class="polaris-site-footer">
          <img src="http://ccs-training.polarislibrary.com/polaris/themes/shared/polaris_logo_small.png" alt="Polaris" class="site-footer__logo"><br>
          Version: 5.6.125<br>
          Copyright © 2018<br>Innovative Interfaces, Inc.
        </div>
      </div>
    </footer>

    <!--- FOOTER - END -->

    <div class="site-overlay"></div>


<!--<script type="text/javascript" src="http://ccs-training.polarislibrary.com/polaris/scripts/jquery.placeholder.min.js"></script>
<script type="text/javascript" src="http://ccs-training.polarislibrary.com/polaris/scripts/jquery.fastClick.js"></script>
<script type="text/javascript" src="http://ccs-training.polarislibrary.com/polaris/scripts/jquery.easing.min.js"></script>
<script type="text/javascript" src="http://ccs-training.polarislibrary.com/polaris/scripts/jquery.ba-throttle-debounce.min.js"></script>
<script type="text/javascript" src="http://ccs-training.polarislibrary.com/polaris/scripts/jquery.twbsPagination.min.js"></script>
<script type="text/javascript" src="http://ccs-training.polarislibrary.com/polaris/scripts/scotchPanels.min.js"></script>
<script type="text/javascript" src="http://ccs-training.polarislibrary.com/polaris/scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="http://ccs-training.polarislibrary.com/polaris/scripts/bootstrap-select.min.js"></script>
<script type="text/javascript" src="http://ccs-training.polarislibrary.com/polaris/scripts/adj-script.js?ver=5.6.125.0">"></script>-->





	</body>
</html>
