.section-patronaccount{

  #formMain{
    padding: 2rem;
    background-color: $white;
  }
}

.my-record__row--separator{
  padding: 0;
}

.patron-header-view{
  .row{
    padding: 0;
  }

  div[class*="col-"]{
    padding-left: 0;
  }
}

.patron-header__name{
  display: inline-block;
  width: auto !important;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1;
  vertical-align: middle;
}

.patron-header__section-name{
  display: inline-block;
  width: auto !important;
  padding: 2px 0 0;
  font-size: 1.125rem;
  line-height: 1;
  vertical-align: middle;

  &:before{
    content: "|";
  }
}

.patrongrid{
  width: 100%;
  border: 0;

  th{
    border-bottom: 1px solid $border-color;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    text-align: left !important;
    font-size: .675rem;
    text-transform: uppercase;
  }

  td{
    padding: .5rem;
    border-bottom: 1px solid $border-color !important;
    line-height: 1.3;
  }
}

.patron-footer-view{
  margin-top: 2rem;
  padding: 0;

  .container-fluid{
    padding: 0;
  }

  .row{
    padding: 0;
  }
}

.c-accordion__account-alert{
  padding-left: .5rem;

  a, a:visited{
    color: $red !important;
  }

  &:before{
    display: inline-block;
    margin-right: .5rem;
    content: "!";
    height: 1.125rem;
    width: 1.125rem;
    font-weight: bold;
    background-color: $red;
    border-radius: 50%;
    text-align: center;
    color: white;
  }
}

//account detail package

.my-record__account-view{
  padding: 2rem;
  background-color: $white;
}

.my-record__account-view .my-record__row{
  display: flex;
  padding: 1rem 0;
  border-bottom: 1px solid $border-color;

  div:first-child{
    width: 20%;
    color: $grey;
  }
}

//fines and fees

.section-patronaccount .primary-content {

  .container-fluid, .row{
    padding: 0;
  }

  p:empty{
    height: 0;
    padding: 0;
  }
}

#panelFinesFees{
  margin-top: 2rem;
}

.my-record__label--bold{
  font-weight: 400;
}
