*, *:before, *:after{
  box-sizing: border-box;
}

html{
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: $background-color;
  font: 400 16px/1.6 $base-font-family;
}

h1, h2, h3, h4{
  line-height: 1.2;
}

h2{
  font-weight: 400;
}

a{
  font-family: $base-font-family;
  color: darken($link-color, 5%);
  text-decoration: none;
  cursor: pointer;
  transition: opacity .2s ease;

  &:hover{
    opacity: .7;
  }

}

hr{
  max-width: 40%;
  margin: 2rem auto;
  border-top: 1px solid $border-color;
  border-bottom: 0;
}

input[type=text], input[type=url], input[type=email], input[type=tel], input[type=number], input[type=password], textarea, select, select[multiple="multiple"]{
  font-family: $base-font-family;
}

.c-accordion__heading{
  &:first-child{
    padding-top: 0;
  }
}
