.btn, .npl-button{
  display: inline-block;
  padding: .5rem 1.25rem;
  border: 0;
  border-radius: 0;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: $base-font-family;
  font-size: .875rem;
  text-transform: uppercase;
  transition: opacity .2s ease;
  cursor: pointer;

  &.more{
    display: block;
    width: 40%;
    margin: 2rem auto;
    background: $primary-color;
    text-align: center;
    color: $font-color;
  }

  &:hover{
    opacity: .7;
  }

  &.border{
    background: transparent;
    border: 2px solid $primary-color;
    color: $primary-color;
  }

  &.btn-default{
    background: $grey;
    color: $white;
  }

  &.disabled{
    background: transparent !important;
  }
}
