
.site-header{
  .content-container{
    @include container;
  }
}

.row{
  @include container;
}

.section-root{
  .primary-content{
    width: 100%;
  }

  .secondary-content{
    @include hidden;
  }
}

.npl-container{
  @include container;
}
