.page-logon{

  #formMain{
    margin-top: -2rem;
    padding: 2rem;
    background-color: $white;
  }

  input[type=text], input[type=password]{
    width: 100%;
    padding: .75rem;
    border: 1px solid $border-color;
    font-size: 90%;
  }
}

#tableLogon{
  width: 60%;
}

#panelSelfRegistration, #panelNewPasswordLink{
  font-style: italic;
}
