
.npl-meta-nav{
  @include unstyled-list;
  position: absolute;
  top: .5rem;
  right: 2rem;

  li{
    display: inline-block;

    a{
      display: block;
      margin-left: 1rem;
      text-transform: uppercase;
      letter-spacing: .5px;
      color: $grey;
      font-size: .875rem;
      text-decoration: none;
    }
  }
}
