@mixin container{
  position: relative;
  clear: both;
  max-width: $max-width;
  margin: 0 auto;
  padding: 2rem;
  overflow: hidden;
}

@mixin unstyled-list(){
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin hidden{
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
}
