.npl-site-nav{
  position: fixed;
  top: 6.5rem;
  left: -100%;
  width: 100%;
  height: 100%;
  padding: 2rem 0 1rem;
  background-color: $white;
  z-index: 999;
  opacity: .99;
  transition: left .2s ease-in-out;

  @media screen and (#{$bp-larger-than-tablet}){
    position: static;
    float: right;
    width: auto;
    height: auto;
    margin-top: 2.5rem;
    padding: 0;
    background-color: transparent;
    border-top: 0;
    opacity: 1;
  }

  &.open{
    left: 0;
  }
}

.npl-nav{
  @include unstyled-list;
  width: 80%;
  margin: auto;

  @media screen and (#{$bp-larger-than-tablet}){
    width: auto;
  }

  li{
    margin-bottom: 2rem;
    text-align: center;

    @media screen and (#{$bp-larger-than-tablet}){
      display: inline-block;
      margin-bottom: 0;
    }
  }

  a{
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: $base-font-family;
    color: $link-color;
    text-decoration: none;

    @media screen and (#{$bp-larger-than-tablet}){
      margin-left: 2rem;
      //color: $white;
    }

    &.active{
      color: $light-grey;
    }
  }
}

.site-nav-control {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: inline-block;
  float: right;
  height: auto;
  padding: .375rem 1rem;
  color: $link-color;
  background-color: $white;
  border-color: transparent;
  font-family: $base-font-family;
  font-size: 1.5rem;

  @media screen and (#{$bp-larger-than-tablet}){
    display: none;
  }
}

.open-site-nav:before {
  content: '\2630';
}

.close-site-nav:before {
  content: '\00D7';
}
