.nav-panel--main-menu {
  .nav-panel__nav{
    position: static;
    width: auto;
    float: right;
    margin-top: 2rem;
    border-top: 0;
  }

  .nav__item-level-1{
    display: inline-block;
    float: none !important;
    margin-top: 0 !important;
  }


  .nav__link-level-1:link, .nav__link-level-1:visited{
    display: block;
    margin-left: 2rem;
    padding: 0;
    font-size: 1rem !important;
    text-transform: uppercase;
    color: $primary-color !important;

    &:hover{
      border: 0;
    }
  }

  .nav-panel__top-nav{
    width: auto !important;
    height: auto;
    top: 0;
    float: none;
    padding: 0;
  }
}

.nav-panel__header{
  position: absolute;
  top: 0;


  li{
    display: inline-block !important;
    float: none !important;
    margin-right: 0 !important;

    a{
      display: block;
      margin-left: 1rem;
      padding: 0 !important;
      text-transform: uppercase;
      letter-spacing: .5px;
      color: $grey !important;
      font-size: .875rem !important;
      text-decoration: none;
    }
  }

  .top-nav .nav__select{
    padding: 0;
    text-transform: uppercase;
    letter-spacing: .5px;
    color: $grey !important;
    font-size: .875rem;
  }
}

.nav-panel--main-menu{
  .nav-panel__header{
    left: 2rem;
  }
}

.nav-panel--my-account{
  .nav-panel__header{
    right: 2rem;
  }

  .nav-panel__welcome{
    padding: 0;

    a{
      display: inline-block;
      margin-left: 1rem;
      padding: 0;
      text-transform: uppercase;
      letter-spacing: .5px;
      color: $grey !important;
      font-size: .875rem;
    }
  }
}
