.npl-site-nav {
  margin-bottom: 0;
  
  .navbar-nav{
    position: static;
    width: auto;
    float: right;
    margin-top: 2.5rem;
    border-top: 0;
  }


  a{
    display: block;
    margin-left: 2rem;
    padding: 0 !important;
    font-size: 1rem;
    text-transform: uppercase;
    color: $primary-color;

    &:hover{
      border: 0;
      background-color: transparent !important;
    }

    &:focus{
      background-color: transparent !important;
    }
  }
}
