.page-title{
  .c-title-detail-info-secondary__container{
    float: left;
    width: calc(75% - 2rem);
    margin-left: 2rem;
  }

  .c-title-detail__special-hold, .addthis_toolbox{
    @include hidden;
  }
}

//record nav

.c-results-utility-back__link{
  &:before{
    content: '\2190';
  }
}

.c-results-utility__container--count-nav{
  float: right;

  div{
    display: inline-block;
  }
}

.c-results-utility-prev__link{
  margin-right: 1rem;
  &:before{
    content: '\2190';
  }
}

.c-results-utility-next{
  margin-left: 1rem;
  &:after{
    content: '\2192';
  }
}

//record details

.c-title-detail--initial-single-col{
  margin-top: 1rem;
  padding: 2rem;
  background-color: $white;
}

.nsm-full-record{
  position: relative;
  top: -1.5rem;
}

.nsm-full-label{
  @include hidden;
}

.nsm-full-content{
  padding-bottom: 1rem;
}

.nsm-long-item{
  font-size: .9375rem;
  line-height: 1.4;
}

//item type
.nsm-e17{
  @include hidden;
}

//item author
.nsm-e18{
  @include hidden;
}

//item title
.nsm-e35{
  position: relative;
  font-size: 1.5rem;
}



//related item info

.c-title-detail-primary-content__section{
  margin-bottom: 1rem;
}

.drawer-head{
  margin-top: 2rem;
  padding: 2rem;
  background-color: $white;
  color: $primary-color;
  text-transform: uppercase;
}

.drawer-head-open{
  padding-bottom: 0;
}

.drawer-body{
  padding: .5rem 2rem 2rem;
  background-color: $white;
}

//actions

.results-title-action-button{
  position: absolute;
  top: 4.5rem;
  right: 2rem;

  .c-title-detail-actions__btn{
    background-color: $primary-color;
  }

}

.c-title-detail-actions__add-to-my-list{
  padding: 1rem;
  background-color: $white;
}
