.page-searchresults{
  .secondary-content{
    float: left;
    width: 25%;
  }

  .c-accordion__panel{
    margin: 1rem 0 2rem;
    padding: 1rem;
    background-color: $white;
    overflow: hidden;

    &:first-child{
      margin-top: 0;
    }
  }
}


.c-accordion__save-search-heading{

  a{
    display: block;
    padding: .5rem;
    background-color: $primary-color !important;
    color: $white;
  }
}

.c-accordion__title{
  margin: 0;
  padding-bottom: 0;
  font-size: .875rem;
  text-transform: uppercase;
  letter-spacing: .5px;

  a:link{
    padding: .5rem;
    color: lighten($grey, 20%);
  }
}

.c-accordion-lvl2__title{
  margin: 1rem 0 .5rem;
  padding-bottom: .25rem;
  font-size: .875rem;
  border-bottom: 1px solid lighten($border-color, 20%);
  line-height: 1;

  a{
    padding: 0;
  }
}

.c-accordion-lvl2__body{
  padding: 0 !important;
}

.c-accordion-lvl2__body-narrowsearch{
  padding-left: 0;
}

.c-accordion__list{
  @include unstyled-list;
}

.c-accordion__item{
  display: table;
  width: 100%;
  padding: 0 !important;
  line-height: 1.2;
}

.c-accordion__item--not-selected{
  padding-left: 0;
  margin-left: 0;
}

.c-accordion__item-narrowsearch{
  display: table-row;
  width: 100%;
}

.c-accordion__label-narrowsearch{
  display: table-cell;
  width: 90%;
  padding: 0;
}

.c-accordion__span-count{
  display: table-cell;
  font-size: .875rem;
  text-align: right;
}

.c-accordion__checkbox{
  position: static;
}

.c-accordion__link{
  display: inline-block;
  padding-bottom: .25rem;
}
