.section-root .c-search-header__content-container:first-of-type{
  background-image: url('../svg/npl-building.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 4rem;
  padding-bottom: 4rem !important;
}

.c-search-header__content-container{

  &:first-of-type{
    clear: both;
    background-color: $primary-color;
  }

  .c-search-header__row{
    padding-top: 0;
    padding-bottom: 0;
  }
}

.c-search-header__row-label{
  label{
    @include hidden;
  }
}

.c-search-header__search-box-div{
  position: relative;
  display: flex;
  padding: 0;
  background-color: $white;

  *{
    font-size: .9rem;
  }

  input[type=text]{
    width: 100%;
    padding: .75rem;
    background: transparent;
    border: 0;
    font-style: italic;
    color: $black;

    &::placeholder{
      //color: lighten($black, 10%);
    }
  }

  .c-search-header__search-label{
    top: 0;
    width: auto;
    padding: .75rem 2rem;
    border: 0;
    line-height: 1;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: darken($primary-color, 10%);
    color: $white;
    text-align: center;
    border-radius: 0;

    i{
      display: none;
    }

    &:after{
      display: inline-block;
      margin-top: .5rem;
      content: "Search"
    }
  }

}

#searchContainer{
  padding: 0 !important;
}

.content-module--full-search{
  .col-lg-2.c-search-header__row-label{
    width: 0;
  }

  .col-lg-10.c-search-header__row-data{
    width: 100%;
  }
}

#labelLimitFilter{
  @include hidden;
}

#showSuggestions{
  @include hidden;
}
