
 .page-searchresults{
   .npl-primary-content{
     float: right;
     width: calc(75% - 2rem);
     margin-left: 2rem;
   }
 }

.c-results-utility__container{
  display: inline-block;
  color: darken($grey, 10%);

}

.c-results-utility-result-count{
  display: inline-block;

  &:after{
    content: " Results"
  }
}

.c-results-utility-per-page{
  display: inline-block;
  margin-left: 2rem;

   *{
    display: inline;
  }

  &:before{
    content: "Showing "
  }
}

.c-results-utility__container--sort-narrow{
  float: right;

   *{
    display: inline;
  }
}

.npl-search-results-sort{
  float: right;
  width: 25%;
}

//search result item

.content-module--search-result{
  position: relative;
  margin: 1rem 0 2rem;
  padding: 2rem;
  background-color: $white;
  overflow: hidden;

  hr{
    display: none;
  }

  p{
    margin-top: 0;
  }
}

.c-title-detail__container{
  display: flex;
}

//results meta

.c-title-detail-media__container{
  position: relative;
  width: 20%;
  margin: 0;
  text-align: center;
}

.c-title-detail__image-container{
  img{
    width: 100%;
    height: auto;
    background-color: $light-grey;
  }
}

.c-title-detail-formats__list{
  position: absolute;
  top: 0;
  left: 0;
  opacity: .9;

  img{
    background-color: $white;
  }
}

.c-title-detail__3rd-party-item--google-preview{
  margin-top: 2rem;
}

//results info

.c-title-detail-info__container{
  width: calc(80% - 2rem);
  margin-left: 2rem;
}

.nsm-brief-label{
  color: $grey;
}

.nsm-brief-primary-zone > td > table > tbody > tr{
  > td{
    padding: 0 0 1rem !important;

    &:first-child{
      display: none;
    }
  }
}

.nsm-brief-primary-title-group{
  font-size: 1.5rem;
}

//hide edition label because it's silly
.nsm-brief-label.nsm-e105, .nsm-brief-label.nsm-e147{
  @include hidden;
}

//hide summary label because it's silly too
.nsm-brief-label.nsm-e109{
  @include hidden;
}

.nsm-brief-secondary-zone{

  td{
    padding-bottom: 1rem;
  }
}

.c-title-detail-actions__list{
  @include unstyled-list;
  margin-left: -1rem;
  padding-left: 25%;
}

.c-title-detail-actions__item{
  display: inline-block;
  margin-left: .5rem;

}

.c-title-detail-actions__btn{
  display: block;
  padding: .5rem 2rem;
  background-color: $grey;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: .875rem;
}

.button-brief-availability a{
  background-color: $primary-color;
}

.content-module--search-result .c-title-detail-actions__add-to-my-list{
  position: absolute;
  top: 1rem;
  right: 1rem;
  text-transform: uppercase;
  font-size: .75rem;
}

.c-results-utility__container--pagination{
  float: right;
}

.pagination{
  @include unstyled-list;
  position: relative;
  top: -.25rem;
  display: inline-block;

  li{
    display: inline-block;
  }
}

.page-link{
  display: block;
  min-width: .5rem;
  margin: 0 .125rem;
  padding: .25rem .75rem;
  background-color: $white;
}
