.section-root .npl-search{
  background-image: url('../svg/npl-building.svg');
  background-repeat: no-repeat;
  background-position: center center;

  > .npl-container{
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.npl-search{
  clear: both;
  background-color: $primary-color;
  background-size: cover;
}

.npl-search-form{
  position: relative;
  background: $white;
}

.npl-inline-controls{
  display: flex;

  label{
    @include hidden;
  }

  input[type=text]{
    width: 80%;
  }

  button{
    width: 10%;
  }
}

.npl-search-button{
  background-color: darken($primary-color, 10%);
  color: $white;
}

.npl-control-group{
  *{
    font-size: .9rem;
  }

  input[type=text]{
    width: 100%;
    padding: .75rem;
    background: transparent;
    border: 0;
    font-style: italic;
    color: $black;

    &::placeholder{
      //color: lighten($black, 10%);
    }
  }

  select{
    width: 100%;
    height: 100%;
    padding: .75rem;
    border: 0;
    background: $white;
  }

  button{
    float: right;
    padding: .75rem;
    border: 0;
    line-height: 1;
    vertical-align: middle;
    text-transform: uppercase;

    svg{
      width: 1rem;
      fill: $black;
    }
  }

}
