.npl-search-tools{

}

.npl-tools{
  @include unstyled-list;
  margin-top: .875rem;

  li{
    display: inline-block;
    margin-right: 2rem;

    a{
      color: $white;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: .5px;
    }
  }
}
