$blue: #0174A0;
$black: #333;
$white: #fff;
$grey: #888;
$light-grey: #F0F0F0;

$primary-color: $blue;
$secondary-color: $light-grey;
$background-color: $white;
$font-color: $black;
$link-color: $blue;
$border-color: $grey;

$base-font-family: 'Lato', sans-serif;

$max-width: 64rem;

//break points
$bp-larger-than-mobile: "min-width: 400px" !default;
$bp-larger-than-phablet: "min-width: 550px" !default;
$bp-larger-than-tablet: "min-width: 850px" !default;
$bp-larger-than-desktop: "min-width: 1140px" !default;
$bp-larger-than-desktophd: "min-width: 1200px" !default;
