@charset "UTF-8";

// Template for custom theme SCSS file
// Copy template to /custom/temes/{theme}/scss/ folder
// Rename to site-{theme}.scss
// Refer to published instructions on compiling to 'site.css'


//npl defined variables
$base-font-family: 'Lato', sans-serif;
$max-width: 72.25rem;

$blue: #0174A0;
$grey: #5F6669;
$light-grey: #DEE5E8;
$white: #fff;
$black: #333;
$red: #e66400;

$primary-color: $blue;
$secondary-color: $light-grey;
$background-color: $light-grey;
$font-color: $black;
$link-color: $blue;
$border-color: $grey;


//polaris defined variables
$color_primary:         $white;
$color_primary_light:   lighten($color_primary,5);
$color_secondary:       $light-grey;
$color_secondary_light: lighten($color_secondary,4);
$color_accent:          $black;
$color_accent_light:    lighten($color_accent,10);

$color_font_primary:          $black;
$color_font_secondary:        $color_secondary;
$color_font_accent:           $color_accent;
$color_font_footer_accent:    $white;
$color_font_accent_dark:      $color_accent;

$icon-font-path: "../../../themes/shared/fonts/bootstrap/";
$shared-images-path: "../../../themes/shared/";



@import "style-core";

// Place any CSS/SCSS theme overrides and additions below
@import 'mixins';
@import 'base';
@import 'buttons';
@import 'layout';
@import 'header';
@import 'brand';
@import 'nav';
@import 'meta-nav';
@import 'footer';
@import 'search';
@import 'carousels';
@import 'quick-links';
@import 'results';
@import 'results-filters';
@import 'result-detail';
@import 'login';
@import 'account';
@import 'help';
